include ../../molecules/title-marker/title-marker.pug
mixin venue()
	section.venue 
		.container
			.detail.text-center 
				.text-center
					+title-marker("Lokasi Acara")
				.row.justify-content-center 
					.col.col-lg-4 
						.square-image
							img(src="https://lh5.googleusercontent.com/p/AF1QipNFza6D5U3CFES3R5YeQg4xbRHvfCKJiu8VSM5Y=s1024-k-no", alt="", srcset="")
				.row
					.col.col-lg
						.detail 
							h3 Echalote Restaurant 
							p
								span
									i.fa.fa-map-marker 
									|   Jl. A.P. Pettarani, no. 80, Makassar (sebelum kantor BPJS Kesehatan Pettarani)
								br
								small
									a(href="https://g.page/echalote?share") 
										| Lihat lokasi di maps 
										i.fa.fa-chevron-right
							p Mohon untuk tetap mematuhi protokol kesehatan dengan 3M, yaitu memakai masker, mencuci tangan, dan menjaga jarak.