include ../../molecules/title-marker/title-marker.pug
mixin event-venue()
	section.event-venue 
		.container.text-center 
			.copy
				.content
					p Yang insyaa Allah akan dilaksanakan pada 
					.row.justify-content-center.align-items-center 
						.col.col-lg-auto 
							h3 Akad Nikah 
							span Pukul 10.00 WITA
						.col.col-lg-auto.border-left.border-right  
							h2 Minggu 
								br
								| 11
								br
								| Juli 2021
						.col.col-lg-auto  
							h3 Resepsi 
							span Pukul 11.00 - 14.30 WITA
					br
					.row
						.col.col-lg
							.venue
								h3 Echalote Restaurant 
								p
									span
										i.fa.fa-map-marker 
										|   Jl. A.P. Pettarani, no. 80, Makassar (sebelum kantor BPJS Kesehatan Pettarani)
									br
									small
										a(href="https://g.page/echalote?share") 
											| Lihat lokasi di maps 
											i.fa.fa-chevron-right
			include ../../molecules/prokes/prokes.pug
