extends ../../_layouts/base.pug

block append config
	- var title = "Uga & Anchu"
	- var page = "Wedding Invitation"
block variable
	- var dataFromJson = jsonData.data;//data from json

block content
	+main-banner()
	+bride-groom()
	//- +venue()
	include ../organisms/prokes/prokes.pug
	+closing()
