extends ../../_layouts/base.pug

block append config
	- var title = "Uga & Anchu"
	- var page = "Wedding Invitation"
block variable
	- var dataFromJson = jsonData.data;//data from json

block content
	#fullpage.pages
		.section
			+seal()
		.section
			+main-banner()
		.section
			+bride-groom()
		.section
			+event-venue()
		.section
			+closing()
