mixin closing()
	section.closing 
		.container
			.row.align-items-center 
				.col-3
					img(src="../../img/main-banner.png", alt="", srcset="")
				.col
					small 
						i "Baarakallahu lakumaa, wa baaraka alaikumaa wa jama'a baynakumaa fii khair"
						br
						| Semoga Allah memberikan berkah kepadamu, semoga Allah mencurahkan keberkahan kepada kalian berdua dan semoga Allah mempersatukan kalian berdua dalam kebaikan
