mixin closing()
	section.closing 
		.copy
			.container.text-center
				p.need-animate(data-delay="0", data-animation="animate__animated animate__fadeInUp animate__slow") Merupakan suatu kehormatan dan kebahagiaan bagi kami, 
					br.d-none.d-lg-inline
					| apabila Bapak/Ibu/Saudara(i), berkenan hadir untuk memberikan doa restu kepada kedua mempelai.  
				p.need-animate(data-delay="500", data-animation="animate__animated animate__fadeInUp animate__slow") 
					i Wassalamu Alaikum Warohmatullahi Wabarokatuh
				p.need-animate(data-delay="1000", data-animation="animate__animated animate__fadeInUp animate__slow") Hormat kami yang mengundang 
					br
					| Drs. H. Alhari Rauf & Dra. Hj. Sahrina (Almh.)
				p.need-animate(data-delay="1500", data-animation="animate__animated animate__fadeInUp animate__slow") Turut mengundang 
					br 
					| Mohammad Khomeiny Alhari. S.Sos. - Surdatwiyati, S.Sos.
					br 
					| M. Taufiq Akbar Alhari, S.T. - Hilyah Maniah, S.P.
					br 
					| Fuad Alhari, S.H.I. - Meylina Fitriyanti
					br 
					| Fauzi Alhari, S.T. - Nurfauziah Yusma, S.Pd.
					br 
					| Kedua Mempelai
		.background-primary
			.container
				.row.align-items-center 
					.col-3
						img(src="../../img/main-banner.png", alt="", srcset="")
					.col
						small 
							i "Baarakallahu lakumaa, wa baaraka alaikumaa wa jama'a baynakumaa fii khair"
							br
							| Semoga Allah memberikan berkah kepadamu, semoga Allah mencurahkan keberkahan kepada kalian berdua dan semoga Allah mempersatukan kalian berdua dalam kebaikan
