
//- Include Organisms Components
include organisms/main-banner/main-banner.pug
include organisms/bride-groom/bride-groom-alt.pug
include organisms/venue/venue.pug
include organisms/closing/closing.pug