//- Include Organisms Components
include organisms/main-banner/main-banner.pug
include organisms/seal/seal.pug
include organisms/bride-groom/bride-groom-alt.pug
include organisms/event-venue/event-venue.pug
include organisms/closing/closing.pug