include ../../molecules/title-marker/title-marker.pug

section.prokes.text-center.with-padding
	.container
		//- +title-marker("Protokol Kesehatan", true)
		h3 Protokol Kesehatan
		.row.align-items-center 
			.col.col-lg-auto 
				img(src="../../img/icon/face-mask.svg", alt="")
				p Memakai masker
			.col.col-lg-auto 
				img(src="../../img/icon/hand-washing.svg", alt="")
				p Mencuci tangan
			.col.col-lg-auto  
				img(src="../../img/icon/social-distancing.svg", alt="")
				p Menjaga jarak