include ../../molecules/title-marker/title-marker.pug
mixin bride-groom()
	section.bride-groom.with-padding.text-center 
		.container 
			+title-marker("بسم الله الرحمن الرحيم")
			//- p بسم الله الرحمن الرحيم
			p.wow.animate__fadeInUp  
				i Assalamu Alaikum Warohmatullahi Wabarokatuh 
			p Dengan memohon rahmat dan ridho Allah ﷺ, 
				br
				| kami bermaksud menyelenggarakan Resepsi Pernikahan 
				br.d-none.d-lg-inline
				| putra-putri kami: 
				br
			h1 dr. Anugrah Alhari 
				br
				| &
				br
				| Mansyur Rahim, S.S.
