include ../../molecules/title-marker/title-marker.pug
mixin bride-groom()
	section.bride-groom.with-padding 
		.container.text-center 
			.text-center
				+title-marker("بسم الله الرحمن الرحيم")
			//- p بسم الله الرحمن الرحيم
			p 
				i Assalamu Alaikum Warohmatullahi Wabarokatuh 
			p Dengan memohon rahmat dan ridho Allah ﷺ, 
				br
				| kami bermaksud menyelenggarakan Resepsi Pernikahan 
				br.d-none.d-lg-inline
				| putra-putri kami: 
				br
				br
			h1 dr. Anugrah Alhari 
				br
				| &
				br
				| Mansyur Rahim, S.S.
			br
			p Yang insyaa Allah akan dilaksanakan pada 
			.row.justify-content-center.align-items-center 
				.col.col-lg-auto 
					h3 Akad Nikah 
					span Pukul 10.00 WITA
				.col.col-lg-auto.border-left.border-right  
					h2 Minggu 
						br
						| 11
						br
						| Juli 2021
				.col.col-lg-auto  
					h3 Resepsi 
					span Pukul 11.00 - 14.30 WITA
			br
			.row
				.col.col-lg
					.venue
						h3 Echalote Restaurant 
						p
							span
								i.fa.fa-map-marker 
								|   Jl. A.P. Pettarani, no. 80, Makassar (sebelum kantor BPJS Kesehatan Pettarani)
							br
							small
								a(href="https://g.page/echalote?share") 
									| Lihat lokasi di maps 
									i.fa.fa-chevron-right
			br
			p Merupakan suatu kehormatan dan kebahagiaan bagi kami, 
				br.d-none.d-lg-inline
				| apabila Bapak/Ibu/Saudara(i), berkenan hadir untuk memberikan doa restu kepada kedua mempelai.  
			p 
				i Wassalamu Alaikum Warohmatullahi Wabarokatuh
			p Hormat kami yang mengundang 
				br
				| Drs. H. Alhari Rauf & Dra. Hj. Sahrina (Almh.)
			p Turut mengundang 
				br 
				| Mohammad Khomeiny Alhari. S.Sos. - Surdatwiyati, S.Sos.
				br 
				| M. Taufiq Akbar Alhari, S.T. - Hilyah Maniah, S.P.
				br 
				| Fuad Alhari, S.H.I. - Meylina Fitriyanti
				br 
				| Fauzi Alhari, S.T. - Nurfauziah Yusma, S.Pd.
				br 
				| Kedua Mempelai
