mixin bride-groom()
	section.bride-groom.with-padding 
		.container 
			.row.no-gutters 
				.col-12.col-lg
					.square-image
						img(src="../../img/bride.jpg", alt="", srcset="")
				.col-12.col-lg
					.detail
						h3 Mempelai Wanita 
						p Hi I am suntina , dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
						h4 - dr. Anugrah Alhari
		.container 
			.row.no-gutters 
				.col-12.col-lg.order-1.order-lg-0
					.detail.text-right
						h3 Mempelai Wanita 
						p Hi I am suntina , dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
						h4 - dr. Anugrah Alhari
				.col-12.col-lg.order-0.order-lg-1
					.square-image
						img(src="../../img/bride.jpg", alt="", srcset="")