include ../../molecules/title-marker/title-marker.pug
mixin seal()
	section.seal.text-center 
		.container-fluid
			.row.relative 
				img(src="../../img/main-banner.png", alt="", srcset="")
				.announcement.absolute 
					h2.need-animate.animate__animated.animate__fadeInUp
						small Yth:
						br 
						| Bapak / Ibu / Saudara(i) 
						br
						small di 
						br
						| Tempat

