include ../../molecules/title-marker/title-marker.pug
mixin seal()
	section.seal.text-center 
		.container-fluid
			.row.relative 
				img(src="../../img/main-banner.png", alt="", srcset="")
				.ripple
				.announcement.absolute 
					h2 
						small Yth:
						br 
						| Seseorang 
						br
						small di 
						br
						| Tempatnya

