.pop-up-container {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    .pop-up {
        position: relative;
        text-align: center;
        margin: 0 auto;
        width: 350px;
        height: calc(350px / 2);
        overflow: hidden;
        color: white;
        @media only screen and (max-width: 600px) {
            width: 270px;
            height: calc(270px / 2);
        }

        @keyframes pulse {
            from {
                transform: translate(-50%, 50%) scale3d(1, 1, 1);
            }

            50% {
                transform: translate(-50%, 50%) scale3d(0.95, 0.95, 0.95);
            }

            to {
                transform: translate(-50%, 50%) scale3d(1, 1, 1);
            }
        }

        @media only screen and (max-width: 600px) {
            @keyframes pulse {
                from {
                    transform: translate(-50%, 55%) scale3d(1, 1, 1);
                }

                50% {
                    transform: translate(-50%, 55%) scale3d(0.95, 0.95, 0.95);
                }

                to {
                    transform: translate(-50%, 55%) scale3d(1, 1, 1);
                }
            }
        }

        &::after,
        &::before {
            content: '';
            width: calc(350px * 0.9);
            height: calc(350px * 0.9);
            position: absolute;
            background-color: $themecolor;
            top: auto;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            z-index: -1;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            @media only screen and (max-width: 600px) {
                width: calc(270px * 0.9);
                height: calc(270px * 0.9);
                transform: translate(-50%, 55%);
            }
        }

        &::before {
            width: 350px;
            height: 350px;
            background-color: rgba(237, 194, 197, 0.6);
            animation: pulse 2s infinite;
            @media only screen and (max-width: 600px) {
                width: 270px;
                height: 270px;
            }
        }

        p {
            font-size: 1.11111rem;

            &.title {
                margin-top: 20%;
                font-size: 2.22222rem;
                font-family: 'Great Vibes', cursive;
            }
        }
    }
}
