include ../../molecules/title-marker/title-marker.pug

.prokes.text-center
	.container
		//- +title-marker("Protokol Kesehatan", true)
		h3 Protokol Kesehatan
		.row.align-items-center 
			.col.col-lg-auto 
				.img-container
					img(src="../../img/icon/face-mask.svg", alt="")
				p Memakai 
					br.d-none.d-sm-inline
					| masker
			.col.col-lg-auto 
				.img-container
					img(src="../../img/icon/hand-washing.svg", alt="")
				p Mencuci 
					br.d-none.d-sm-inline
					| tangan
			.col.col-lg-auto  
				.img-container
					img(src="../../img/icon/social-distancing.svg", alt="")
				p Menjaga 
					br.d-none.d-sm-inline
					| jarak