
mixin main-banner()
	section.main-banner.text-center 
		.container-fluid
			.row.relative 
				img(src="../../img/main-banner.jpg", alt="", srcset="")
				.announcement.absolute 
					h1 Uga & Anchu 
					h3 AKAN MENIKAH
				include ../../molecules/pop-up-reminder/pop-up-reminder.pug
