.fw-bold {
    font-weight: 600;
}

.fw-normal {
    font-weight: 400;
}

.fw-light {
    font-weight: 200;
}

body {
    font-family: 'Dosis', sans-serif;
}

h1,
h2,
h3,
h4 {
    line-height: 1.1;
    color: #6e6e6e;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
    margin: 0 0 0.4em;
    font-weight: 500;
    @media only screen and (max-width: 600px) {
        font-size: 3.5rem;
    }
}

h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.55556rem;
    line-height: 1.1;
}

h3 {
    font-size: 1.44444rem;
    font-weight: 500;
}

h4 {
    font-size: 1.44444rem;
    font-weight: 400;
}

p {
    font-size: 1.1rem;
}

i.fa {
    color: #6e6e6e;
}
